{"plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }] // `style: true` for less
  ],

  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ]
}
